$--bs-info-rgb: #d9af0d !important;
$danger: #ff4136;
$primary: #0ed900;
$bs-info: #0ed900;
$btn-link-hover-color: rgb(145, 75, 230);
.btn-lg .btn .btn-primary .btn-group-vertical .a #button {
  color: black;
  transition: color 0.3s; // Анімація для плавного зміни кольору

  &:hover {
    color: $btn-link-hover-color; // Застосування змінної при наведенні
  }
}

:root {
  --bs-info-rgb: 225, 225, 245; /* Нове значення синього колору */
}

$theme-colors: (
  "primary": $primary,
  "danger": $danger,
  "--bs-info-rgb":rgb(14, 217, 0) !important
);
//.nav li.active, .nav li.active:hover, a:hover, a:focus, a:focus-visible .button:hover {
//  background-color: rgb(230, 75, 122) !important;
//  //background-color: rgb(145, 75, 230) !important;
//  border-radius: 0.3rem ;
//  border: solid #dcbef5 1px;
//}
.bg-info {
  border: solid #dcbef5 1px ;
  border-radius: 0.3rem ;
  margin: 1px;
}

.userName{
  color: #914be6;
}
.btn-primary, {
  color: #914be6;
  background-color: #eed6ff;
  border: solid #914be6 1px;
  border-radius: 0.3rem ;
}

.container-xxl ul    {
    align-items: center;    /*text-align: center; !* Центруємо текст по горизонталі внутрішнього <a> *!*/
}

.nav-item a img {
    /*display: block; !* Зробимо зображення блоком, щоб задати розмір і вирівнювання *!*/
    margin: 0; /* Центруємо по горизонталі */
    /*max-width: 100%; !* Зображення буде змінювати розмір відповідно до контейнера *!*/
    height: 60px;
}
.nav-item label.userName{
    width: 150px;
    text-align: center;
}
.container-xxl li {
    margin-right: 5px;
}
.nav-item a.avatar img {
    border-radius: 0.3rem;
    border: solid #dcbef5 2px;
}
.bg-info, .bg-primary {
     background-color: #0ed900;
}
footer{
  //justify-content: center;
  //align-items: center;
  //position: fixed;
  //bottom: 0; /* Знизу вікна браузера */
  //width: 100%;
}
.btn-primary:focus,
.btn-primary:hover {
  background-color: rgb(145, 75, 230); /* Новий колір фону кнопки при наведенні */
  border-color: rgb(145, 75, 230); /* Новий колір рамки кнопки при наведенні */
  color: white; /* Новий колір тексту для кращої видимості */
}
.btn-primary:disabled {
    background-color: #d7d7d7; /* Змініть фоновий колір вимкнутої кнопки */
    color: white; /* Змініть колір тексту на вимкнутої кнопці */
    /* Додайте будь-які інші стилі, які ви хочете застосувати до вимкнених кнопок */
}