{% load sass_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="uk-UK">
<head>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta charset="UTF-8">
    <title>main page</title>
    {#    <link rel="stylesheet" type="text/css" href="{% static 'main/css/styles_links_as_buttons.css' %}">#}
    {#    <link rel="stylesheet" type="text/css" href="{% static 'main/css/basePage.css' %}">#}
    <link href="{% sass_src 'main/css/basePage.scss' %}" rel="stylesheet" type="text/css"/>
    {#    <link rel="stylesheet" type="text/css" href="{% sass_src 'main/css/basePage.scss' %}">#}
</head>
<body style="background-color: #FFCCFF;">
<div>
    <header>
        <div class="container-xxl sticky-top">
            <ul class="nav bg-info">
                <li class="nav-item">
                    <a tabindex="-1" href="#">
                        <img src="{% static 'main/img/logo.png' %}" alt="">
                    </a>
                </li>
                <li class="nav-item"><a class="btn btn-primary btn-lg"
                                        href="{% url "about" %}">Про нас</a></li>
                <li class="nav-item"><a class="btn btn-primary btn-lg"
                                        href="{% url "general_reports" %}">Загальні звіти про допомогу</a></li>
                <li class="nav-item"><a class="btn btn-primary btn-lg"
                                        href="{% url "feedback" %}">Подяки/відгуки</a>
                </li>
                <li class="nav-item">{# userName #}
                    <label class="userName" >
                        <div>
                            {% if user.is_authenticated %}
                                {{ request.user.username }}
                            {% else %}
                                Гість
                            {% endif %}
                        </div>
                    </label></li>
                <li class="nav-item">
                    <div>
                        {% if user.is_authenticated %}
                            <a class="btn btn-primary btn-lg" href={% url "logout" %}>Вихід</a>
                        {% else %}
                            <a class="btn btn-primary btn-lg" href={% url "login" %}>Вхід</a>
                        {% endif %}
                </li>
                <li class="nav-item">
                    <div>
                        {% if user.is_authenticated %}
                            <a class="btn btn-primary btn-lg" href={% url "user_cabinet" %}>Особистий кабінет</a>
                        {% else %}
                            <a class="btn btn-primary btn-lg" href={% url "user_registration" %}>Реєстрація</a>
                        {% endif %}
                    </div>
                </li>
                <li class="nav-item">
                    <div>
                        <div>
                            {% if user.is_authenticated %}
                                <img src="{% static 'main/img/noAvatar60x60.png' %}" alt="Гість">
                            {% else %}
                                <img src="{% static 'main/img/unknownUser60x60.png' %}" alt="Смайлик">


                            {% endif %}
                        </div>
                        {#                    <img src="{% static 'main/img/noAvatar60x60.png' %}" alt="" >#}
                    </div>
                </li>
            </ul>

        </div>
        <div >
            {% block sub_header %}
            {% endblock %}
        </div>
    </header>
    <div class="container-xxl">
        {% block content %}
        {% endblock %}
    </div>

    <footer>
        <div class="container-xxl fixed-bottom">
            <ul class="nav bg-info">
                <li class="nav-item"><a class="btn btn-primary btn-lg" href={% url "index" %}>На головну</a></li>
                <li class="nav-item"><a class="btn btn-primary btn-lg" href={% url "partners" %}>Наші партнери</a></li>
                <li class="nav-item"><a class="btn btn-primary btn-lg" href={% url "new_partner" %}>Стати партнером</a>
                </li>
                <li class="nav-item"><a class="btn btn-primary btn-lg" href={% url "fund_project" %}>Підтримати
                    проект</a></li>
                <li class="nav-item"><a class="btn btn-primary btn-lg" href={% url "police" %}>Сповістити про
                    шахрайство</a></li>
            </ul>
        </div>
    </footer>
</div>
</body>
</html>
