{% load static %}
<!DOCTYPE html>
<html lang="uk-UK">
<head>
    <meta charset="UTF-8">
    <title>main page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/styles_links_as_buttons.css' %}">
</head>
<body>
    {% block work_comments %}
    {% endblock %}

<header>

    <div class="topMenu">
        <ul class="title" title="name">
            <li><a href="{% url "about" %}">про нас</a></li>
            <li><a href="{% url "general_reports" %}">Загальні звіти про допомогу</a></li>
            <li><a href="{% url "feedback" %}">Подяки відгуки</a></li>
            <li><a href={% url "login" %}>вхід</a></li>
            <li><a href={% url "user_registration" %}>реєстрація</a></li>
        </ul>
    </div>
    <div>
        <h2>
            {% block sub_header %}
            {% endblock %}
        </h2>
    </div>
</header>
<div class="content">
    {% block content %}
    {% endblock %}
</div>
<footer>
    <div>
        <ul class="title" title="name">
            <li><a href={% url "index" %}>На головну</a></li>
            <li><a href={% url "partners"%}>Наші партнери</a></li>
            <li><a href={% url "new_partner" %}>Стати партнером</a></li>
            <li><a href={% url "fund_project" %}>Підтримати проект</a></li>
            <li><a href={% url "police" %}>Сповістити про шахрайство</a></li>
        </ul>
    </div>
</footer>
</body>
</html>
