<div class="card mx-auto my-5" style="width: 60rem;background-color: #eac9f5;">

<p class="lh-sm fs-5" style="color: #6633CC;">
    </t>
    Наш проєкт "MY SHARE" націлений на створення платформи, де люди можуть ділитися своїми ресурсами та добротою без зайвих обмежень і бюрократії. Ми віримо, що кожна допомога має бути доступною і простою для тих, хто потребує підтримки, а також для тих, хто бажає надати допомогу. Ми віримо, що кожна дія може мати велике значення, і навіть невелика допомога може змінити життя тих, хто опинився в складному становищі. Ми прагнемо до чесності, довіри та співпраці, які лежать в основі кожного благодійного жесту. 
</p>

<p class="lh-sm fs-5" style="color: #6633CC;">
    Цінність нашого бізнесу полягає в тому, що ми створюємо платформу, яка надає благодійну допомогу та підтримку тим, хто потребує, без будь-якої мети отримання прибутку. Отже, в контексті нашого проєкту не існує фінансової вигоди для замовника проекту. 
</p>

<p class="lh-sm fs-5" style="color: #6633CC;">
    Що стосується бізнес-правомірності, ми повністю дотримуємося всіх законних вимог та правил, які стосуються благодійних проектів та громадської діяльності. Наш проєкт не використовує результати чиєїсь роботи, і всі елементи нашої системи, включаючи лого і дизайн, створені нашою власною командою. Це гарантує відсутність конфліктів інтересів щодо авторського права та відповідність усім законним вимогам даної проблемної області.
</p>
</div>

