<!-- partners_list.html -->
{% extends 'main/base._layout.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="uk-UK">
<head>
    <style>
        .bg-custom {
            background-color: #e3b8f1 !important;
        }

    </style>
</head>
<body>
    <div class="container mt-5">
        <div class="card bg-custom text-dark mb-4">
            <div class="card-body">
                <h1 class="mb-4" style="color: #864df8;font-size: 32px;">Для того щоб стати нашим партнером, потрібно заповнити форму:</h1>
                <div class="row">
                    <div class="col-md-12">
                        <ul class="list-group">
                            {% for partner in partners %}
                                <li class="list-group-item">
                                    <h5 class="mb-1">{{ partner.name }}</h5>
                                    <img src="{{ partner.logo.url }}" alt="{{ partner.name }} Logo" style="max-width: 100px; max-height: 100px;">
                                    <p><a href="{{ partner.website }}" target="_blank">Перейти на сайт партнера</a></p>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}
