{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/styles_registration.css' %}">
<form action="" method="post"  class="form-container" >
  <h1>Реєстрація</h1>
    <div class="input-box">
      <input tabindex="1" placeholder="Ім'я" type="text" name="username" id="name" required />
    </div>
    <div class="input-box">
      <input tabindex="2"  placeholder="Email" type="email" name="email" id="email" required />
    </div>
    <div class="input-box">
      <input tabindex="3" placeholder="Придумайте пароль" type="password" name="password" id="password" required />
    </div >
    <div class="input-box">
      <input tabindex="4" placeholder="Підтвердіть пароль" type="password" name="password2" id="password2" required />
    </div>
    <div>
      <button tabindex="5" type="submit" class="btn-registration">Зареєструватись</button>
    </div>
    <div class="btn">
      <button tabindex="6" type="submit" class="btn-cancel">Відмінити</button>
    </div>
</form>
