<form action="" method="post" >
  <div>
    <input tabindex="1" placeholder="Ім'я" type="text" name="username" id="name" required />
  </div>
  <div>
    <input tabindex="2"  placeholder="Email" type="email" name="email" id="email" required />
  </div>
  <div>
    <input tabindex="3" placeholder="Придумайте пароль" type="password" name="password" id="password" required />
  </div>
    <div>
    <input tabindex="4" placeholder="Підтвердіть пароль" type="password" name="password2" id="password2" required />
  </div>
    <div>
    <button tabindex="5" type="submit">Відмінити</button>
  </div>
  <div>
    <button tabindex="6" type="submit">Зареєструватись</button>
  </div>
</form>
